
<%= form_for(@article) do |f| %> 
  <% if @article.errors.any? %>  
    <div id="errorExplanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>  
      <ul>  
        <% @article.errors.full_messages.each do |msg| %>  
          <li><%= msg %></li>  
        <% end %>  
      </ul>  
    </div>  
  <% end %>

  <div class="field">  
    <%= f.label "标题" %><br />  
    <%= f.text_field :title %>  
  </div>

  <div> 
    <%= f.label "栏目" %><br />  
    <%= f.select :catalog_id, Catalog.all.collect{|p| [ p.name, p.id ] },  {:prompt => '--请选择栏目--'}%>
  </div> 

  <div class="field">  
    <%= f.label "摘要" %><br />  
    <%= f.text_area :summary %>  
  </div>

  <div class="field">  
    <%= f.label "内容" %><br />  
    <%= f.ueditor_text :content %>  
  </div>


  <div class="actions">  
    <%= f.submit "提交"%>  
  </div>  
<% end %>
