  <li id="comment_<%= comment.id%>">
  <% if comment.user %>
  <b>用户：</b>
  <%= link_to comment.user.name, user_path(:id => comment.user.id) %>
  <% end %>
  <b>评论：</b> 
  <%= comment.content %>
  <b>时间：</b>
  <%= comment.created_at %>
  <%= link_to "删除", article_comment_path(article_id: article.id, id: comment.id, format: "json"), :method => 'delete', class: "del_button", id: "del_#{comment.id}", remote: true%>
  </li> 
