
    <p>
    <b>标题：</b>
    <%= @article.title %>
    </p> 

    <p>
    <b>摘要：</b>
    <%= @article.summary %>
    </p>

    <p>
    <b>内容：</b>
    <%= @article.content.html_safe %>
    </p> 

    <p>
    <b>评论：</b>
    <% @article.comments.each_with_index do |comment, index| %>
      <div> 
        <%= index + 1 %>
        <%= comment.content %>
      </div> 
    <%end%>
    </p> 

    <p>
    <b>评论：</b>
    <div> 
    <% @article.comments.each do |comment| %>
      <div id="comment_<%= comment.id %>" > 
        <%= comment.content %>
      </div> 
    <%end%>
    </div> 
    </p> 


<p>
<b>添加评论</b>
<%= form_for [@article, @comment], :remote => true, :html => {:'data-type' => 'json'} do |f| %> 
  <div class="field">  
    <%= f.label "内容" %><br />  
    <%= f.text_area :content %>  
  </div>
  <%= submit_tag "提交" %>
<% end %>
</p> 

    <p>
    <b>评论三</b>
    <script type="text/javascript">
      $(document).ready(function(){
          $('#new_comment').on('ajax:success',function(ex,e){
            alert(1);
            console.debug(ex);
            console.debug(e);
            console.debug(e['content']);
            $("ul").append("<li>" + e['id'] + "." +  e['content'] + "</li>");
            <%= current_user.name %>
          });
          });
</script>
</p> 

<ul>
    </ul>


<%= link_to '修改',edit_article_path(@article)  %>
<%= link_to '返回文章主页面',articles_path%>
<%= link_to '返回主页面',root_path%>    

