
<script type="text/javascript">
  $(document).ready(function(){
      $(".del_button").on('ajax:success',function(ex,e){
        $("#comment_"+e['id']).remove();
        });

      $('#new_comment').on('ajax:complete',function(ex,e){
        //   $("ul").append("<li>"+ "用户："+ e['user_name'] +".  评论：" +  e['content'] +".  "+ e['time_now'] + "</li>");
        $("ul").append(e['responseText']);
        });
      })
</script>

<p>
<b>标题：</b>
<%= @topic.title %>
</p> 

<p>
<b>内容：</b>
<%= @topic.content.html_safe %>
</p> 

<p>
<b>评论：</b>
<ul>
  <% @topic.comments.each do |comment| %>
    <div> 
      <%= render partial: "info", locals: {comment: comment, topic: @topic} %>
    </div> 
  <%end%>
</ul>
</p> 

<p>
<b>添加评论</b>
<%= form_for [@topic, @comment], :remote => true, :html => {:'data-type' => 'json'} do |f| %> 
  <div class="field">  
    <%= f.label "内容" %><br />  
    <%= f.text_area :content, :size => "100x10" %>  
  </div>
  <%= submit_tag "提交" %>
<% end %>
</p> 

<%= link_to '修改',edit_topic_path(@topic)  %>
<%= link_to '返回栏目主页面',topics_path%>
<%= link_to '返回主页面',root_path%>
