<h1>欢迎来到主页面！</h1>

<%= link_to '学生管理', students_path%>
<%= link_to '班级管理', klasses_path%>
<%= link_to '教师管理', teachers_path%>
<%= link_to '栏目管理', catalogs_path%>
<%= link_to '文章管理', articles_path%>
<%= link_to '主题管理', topics_path%>
