
<table class="teacher">
  <thead>
    <tr> 
      <th>姓名</th>
      <th>年龄</th>
      <th>工号</th>
      <th>操作</th>
    </tr> 
  </thead>

  <tbody>
    <tr>
    </tr>
    <% @teachers.each do |teacher|%>
      <tr>
        <td><%= teacher.name%></td>
        <td><%= teacher.age%></td>
        <td><%= teacher.work_number%></td>
        <td>
          <%= link_to '修改',edit_teacher_path(:id =>teacher.id),:method => 'get'%>
          <%= link_to '删除',teacher_path(:id => teacher.id),:method => 'delete'%>
          <%= link_to '查询所有班级',klasses_teacher_path(teacher)%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="operate"> 
  <%= link_to '新建',new_teacher_path%>
  <%#= link_to '返回主页面',root_path%>
  <%= render '/share/back'  %>
</div> 

<%= paginate @teachers%>
