<!DOCTYPE html>
<html>
  <head>
    <title>Study</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="top"> 

      <div class="seat-a"> 
        <div class="title"> 
          <a href='' class="tab">设为首页</a> 
        </div> 
        <div class="title"> 
          <a href='' class="tab">手机版</a> 
        </div> 
        <div class="title"> 
          <a href='' class="tab">Pad版</a>
        </div> 
      </div>

      <div class="seat-b title"> 
        <% if current_user %>
          您好 <%= current_user.email %>!
          <%= link_to('退出', destroy_user_session_path, :method => :delete) %>
          <%#= link_to('修改密碼', edit_registration_path(:user)) %>
        <% else %>
          <%= link_to('註冊', new_registration_path(:user)) %> |
          <%= link_to('登入', new_session_path(:user)) %>
        <% end %>
      </div>

      <div class="seat-c">
        <div class="title"> 
          <a href='' class="tab">微博</a> 
        </div> 
        <div class="title"> 
          <a href='' class="tab">博客</a> 
        </div> 
        <div class="title"> 
          <a href='' class="tab">网站导航</a>
        </div> 
      </div>

    </div> 

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="seat"> 
      <%= yield %>
    </div> 

    <div class="foot">
      <p>版权所有</p> 
    </div> 


  </body>
</html>
