<!DOCTYPE html>
<html>
  <head>
    <title>Study</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="top"> 
      <div class="part"> 
        <div class="title"> 
          <a href='' class="tab">
            <i>设为首页</i>
          </a> 
        </div> 
        <div class="title"> 
          <a href='' class="tab">
            <i>手机版</i>
          </a> 
        </div> 
        <div class="title"> 
          <a href='' class="tab">
            <i>Pad版</i>
          </a> 
        </div> 
      </div> 
      <div class="right"> 
        <% if current_user %>
          <p>您好 <%= current_user.email %>!</p>
          <%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
          <%= link_to('修改密碼', edit_registration_path(:user)) %>
        <% else %>
          <%= link_to('註冊', new_registration_path(:user)) %> |
          <%= link_to('登入', new_session_path(:user)) %>
        <% end %>
      </div> 
    </div> 

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <div class="foot">
      <p>版权所有</p> 
    </div> 


  </body>
</html>
