<h1>hello! welcome to the klass list!</h1>

<table class="teacher">
  <thead>
    <tr>
      <th>班级名称</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @klasses.each do |klass|%>
      <tr>
        <td><%= klass.klass_name%></td>

        <td>
          <%= link_to '修改', edit_klass_path(:id=>klass.id) %>
          <%= link_to '删除', klass_path(:id => klass.id),:method => 'delete' %>
          <%= link_to '查看所有老师', teachers_klass_path( klass) %>
          <%= link_to '查看所有学生', users_klass_path( klass) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="operate"> 
  <%= link_to '新建', new_klass_path%>
  <%= link_to '返回主页面', root_path%>
</div>

<%= paginate @klasses%>
