 <p class="notice"><%= notice %></p>

 <p>
 <b>班级</b>
 <%= @klass.klass_name%>
 </p>

 <%= link_to "修改",edit_klass_path(@klass) %>
 <%= link_to "返回班级管理",klasses_path%>
 <%= link_to "返回主页面", home_index_path%>
